<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="config.xsd">
    <application>
        <reopenBrowser>testCase</reopenBrowser>
        <backendLogin>{{.Env.MAGENTO_ADMIN_USERNAME}}</backendLogin>
        <backendPassword>{{.Env.MAGENTO_ADMIN_PASSWORD}}</backendPassword>
        <appBackendUrl>{{.Env.MAGENTO_URL}}/{{.Env.MAGENTO_BACKEND_FRONTNAME}}/index.php/</appBackendUrl>
        <backendLoginUrl>{{.Env.MAGENTO_BACKEND_FRONTNAME}}/auth/login</backendLoginUrl>
    </application>
    <isolation>
        <resetUrlPath>dev/tests/functional/isolation.php</resetUrlPath>
        <testSuite>none</testSuite>
        <testCase>none</testCase>
        <test>none</test>
    </isolation>
    <server>
        <item name="selenium" type="default" browser="{{.Env.SELENIUM_BROWSER}}" browserName="{{.Env.SELENIUM_BROWSER_NAME}}" host="{{.Env.SELENIUM_HOST}}" port="{{.Env.SELENIUM_PORT}}" seleniumServerRequestsTimeout="90" sessionStrategy="shared">
            <desiredCapabilities>
                <platform>ANY</platform>
            </desiredCapabilities>
        </item>
    </server>
    <handler>
        <webapi priority="0">
            <token></token>
        </webapi>
        <curl priority="1" />
        <ui priority="2" />
    </handler>
</config>
